@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    width: 7%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid rgb(51, 51, 51);
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }

  .blob{
    height: 200px;
    width: 200px;
    background: radial-gradient(circle at center, white, #114FEE);
    filter: blur(150px);
    position: absolute;
    z-index: 0;
    top: 20vw;
    left: -15vw;
  }

  .blob2{
    height: 200px;
    width: 200px;
    background: radial-gradient(circle at center, white, #114FEE);
    filter: blur(150px);
    position: absolute;
    z-index: 0;
    right: -25vw;
    top: 20vw;
  }